@import './colors.scss';
@import './unselectable';

@mixin button {
  @include unselectable;

  padding: 3px 16px;
  color: $gray;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid $cloud-darken;
  border-radius: 2px;
  background-color: #ffffff;
  transition: all 0.2s ease-out;
  cursor: pointer;

  &:hover {
    background-color: darken(#ffffff, 5%);
  }

  &:focus {
    outline: none;
  }

  &.green {
    color: #ffffff;
    background-color: $green;
    border-color: $green;

    &:hover {
      background-color: darken($green, 5%);
      border-color: darken($green, 5%);
    }
  }

  &.gray {
    color: $gray !important;
  }

  &.flat {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border-color: transparent;

    &:hover {
      background-color: transparent;
      border-color: transparent;
      text-decoration: underline;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    color: $gray;
    background-color: #ffffff;
    border-color: $cloud-darken;

    &:hover {
      background-color: #ffffff;
      border-color: $cloud-darken;
    }
  }
}
