@import '@/scss/colors.scss';
@import '@/scss/_unselectable.scss';

@mixin select {
  @include unselectable;

  position: relative;
  width: 100%;
  cursor: pointer;

  &__text {
    display: flex;
    align-items: center;
    color: #333;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__current {
    position: relative;
    padding: 3px 27px 3px 16px;
    line-height: 24px;
    vertical-align: top;
    border: 1px solid $gray-lighten;
    border-radius: 2px;

    &:hover {
      background-color: rgba(0, 0, 0, 2.5%);
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 13px;
      width: 8px;
      height: 5px;
      transform: translateY(-50%);
    }
  }

  &__items {
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    // width: 100%;
    z-index: 100;
    max-height: 200px;
    overflow: auto;

    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;

    &.active {
      display: block;
    }
  }

  &__item {
    padding: 3px 27px 3px 16px;
    line-height: 24px;
    background-color: #ffffff;
    white-space: nowrap;

    &:hover {
      background-color: darken(#ffffff, 2.5%);
    }
  }
}
